@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif;
  background-color: #0a0a0a;
  max-width: 1030px;
  min-height: 400vh;
  margin: 0 auto;
}
.first-section {
  width: 100%;
  height: 60vh;
  margin-top: 3.5rem;
  display: flex;
  gap: 1.5rem;
}
.first1-section {
  background-color: #0d0d0d;
  width: 68%;
  height: 56vh;
  border-radius: 3.5rem;
  padding: 3rem;
  border: 0.5px solid rgba(50, 50, 50, 0.877);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.first101 {
  display: flex;
  gap: 12rem;
}
.milka {
  display: flex;
  gap: 1rem;
}
.headman {
  width: 35px;
  height: 45px;
  object-fit: cover;
}
.milka1 {
  color: white;
}
.milka2 {
  color: gray;
}

.button1 {
  border-radius: 10px;
  border: 0.5px solid rgba(47, 46, 46, 0.442);
  padding: 10px 10px;
  background-color: #0d0d0d;
  color: white;
}
.bxl-twitter {
  border-radius: 10px;
  border: 0.5px solid rgba(47, 46, 46, 0.442);
  padding: 10px 8px;
  background-color: #0d0d0d;
  color: white;
}
.bxl-youtube {
  border-radius: 10px;
  border: 0.5px solid rgba(55, 54, 54, 0.442);
  padding: 10px 8px;
  background-color: #0d0d0d;
  color: white;
}
.first102 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.framer {
  color: white;
  font-size: 2rem;
}
.framer1 {
  font-family: "Mr Dafoe", cursive;
}
.framer2 {
  color: grey;
  font-size: 1rem;
}
.first2-section {
  background-color: #0d0d0d;
  width: 32%;
  height: 56vh;
  border-radius: 3.5rem;
  border: 0.5px solid rgba(50, 50, 50, 0.898);
  display: flex;
  align-items: end;
  justify-content: center;
}
.praying {
  width: 75%;
  height: 80%;
  object-fit: cover;
}
.second-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.second2 {
  display: flex;
  justify-content: cover;
  gap: 2rem;
}
.second1 {
  text-align: center;
  color: grey;
  font-size: 0.8rem;
}
.milano {
  display: flex;
  gap: 5px;
}
.milano1 {
  background-color: white;
  padding: 2px 2px;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
}
.milano2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
}
.cloud {
  display: flex;
  gap: 5px;
}
.bx-cloud {
  color: white;
  font-size: 1.5rem;
}
.cloud1 {
  color: grey;
  font-size: 1.1rem;
}
.cloud2 {
  color: white;
  font-size: 1rem;
}
.Amster {
  display: flex;
  gap: 5px;
}
.bxs-toggle-left {
  color: white;
  font-size: 1.5rem;
}
.Amster1 {
  color: white;
  font-size: 1rem;
}
.Amster2 {
  color: white;
  font-family: "Mr Dafoe", cursive;
  font-size: 1rem;
}
.third-section {
  margin-top: 3rem;
  background-color: #0d0d0d;
  width: 100%;
  height: 60vh;
  border-radius: 3.5rem;
  padding: 3rem;
  border: 0.5px solid rgba(50, 50, 50, 0.877);
  display: flex;
  justify-content: space-between;
}
.third-section1 {
  display: flex;
  justify-content: centre;
  align-items: center;
}
.man2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.third2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.diff {
  color: white;
  font-size: 2.5rem;
  font-weight: normal;
}
.diff1 {
  font-family: "Mr Dafoe", cursive;
}
.diff2 {
  color: grey;
  font-size: 1rem;
}
.diff3 {
  border-radius: 10px;
  border: 0.5px solid rgba(47, 46, 46, 0.442);
  padding: 10px 10px;
  background-color: #0d0d0d;
  color: white;
  width: 10rem;
  font-weight: bold;
}
.bx-right-arrow-alt {
  color: white;
  font-size: 1rem;
  width: 1rem;
}
.fourth-section {
  display: flex;
  gap: 1rem;
}
.fifth-section {
  display: flex;
  gap: 1rem;
  position: relative;
}
.fourth1-section {
  background-color: #0d0d0d;
  width: 52%;
  height: 65vh;
  border-radius: 3.5rem;
  border: 0.5px solid rgba(50, 50, 50, 0.898);
  margin-top: 2rem;
}
.fourth2-section {
  background-color: #0d0d0d;
  width: 52%;
  height: 65vh;
  border-radius: 3.5rem;
  border: 0.5px solid rgba(50, 50, 50, 0.898);
  margin-top: 2rem;
}
.fourth1a {
  width: 100%;
  height: 100%;
  border-radius: 3.5rem;
  object-fit: cover;
}
.sixth-section {
  position: absolute;
  bottom: 15;
  right: 10;
}
.sixth1 {
  color: white;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
}
.bxs-left-top-arrow-circle {
  color: grey;
  font-size: 1.8rem;
}
.sixth3 {
  color: white;
}
.seventh-section {
  background-color: #0d0d0d;
  width: 100%;
  height: 60vh;
  border-radius: 3.5rem;
  border: 0.5px solid rgba(50, 50, 50, 0.898);
  margin-top: 5rem;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.seventha-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.seventh1 {
  color: white;
  font-size: 1.8rem;
}
.seventh2 {
  font-family: "Mr Dafoe", cursive;
}
.seventh3 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.seventh4 {
  display: flex;
  gap: 0.5rem;
}
.seventh5 {
  color: white;
  font-weight: normal;
  font-size: 1rem;
}
.seventh6 {
  border-radius: 10px;
  border: 0.5px solid rgba(47, 46, 46, 0.442);
  padding: 0.5px 5px;
  background-color: #0d0d0d;
  color: white;
  font-size: 0.5rem;
}
.seventh7 {
  color: grey;
  font-size: 0.8rem;
}
.seventh2a {
  display: flex;
  gap: 1rem;
}
.bx-right-arrow-alt {
  color: white;
  font-size: 1rem;
}
.seventh8 {
  border-radius: 10px;
  border: 0.5px solid rgba(47, 46, 46, 0.442);
  padding: 8px;
  background-color: #0d0d0d;
  color: white;
  font-size: 1rem;
}
.praying1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.eigth-section {
  margin-top: 4rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}
.eigth1 {
  color: gray;
}
